<h1 mat-dialog-title>Add Product to Inventory</h1>
<div mat-dialog-content>
    <form class='form'>
        <mat-form-field>
            <mat-label>UPC</mat-label>
            <input matInput id="upc" [(ngModel)]="upc" type="text" name="upc" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput id="name" [(ngModel)]="name" type="text" name="name" required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput id="description" [(ngModel)]="description" type="text" name="description" required></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Price</mat-label>
            <input matInput id="price" [(ngModel)]="price" type="text" name="price" required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Condition</mat-label>
            <mat-select id="used" [(ngModel)]="used" name="used" required>
                <mat-option value="1">New</mat-option>
                <mat-option value="0">Used</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Stock</mat-label>
            <input matInput id="stock" [(ngModel)]="stock" type="text" name="stock" required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select id="categorye" [(ngModel)]="category" name="category" required>
                <mat-option value="games">Game</mat-option>
                <mat-option value="consoles">Consoles</mat-option>
                <mat-option value="equipment">Equipment</mat-option>
                <mat-option value="specialty">Specialty</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="category == 'games'">
            <mat-label>Genre</mat-label>
            <mat-select id="genre" [(ngModel)]="genre" name="genre" required>
                <mat-option value="action">Action</mat-option>
                <mat-option value="adventure">Adventure</mat-option>
                <mat-option value="sci-fi">Science Fiction</mat-option>
                <mat-option value="horror">Horror</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="category == 'equipment'">
            <mat-label>Type</mat-label>
            <mat-select id="type" [(ngModel)]="genre" name="type" required>
                <mat-option value="controller">Controller</mat-option>
                <mat-option value="cases">Case</mat-option>
                <mat-option value="headset">Headset</mat-option>
                <mat-option value="cables">Cables</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="category == 'specialty'">
            <mat-label>Type</mat-label>
            <mat-select id="type" [(ngModel)]="genre" name="type" required>
                <mat-option value="figures">Figure</mat-option>
                <mat-option value="guidebook">Game Guide</mat-option>
                <mat-option value="posters">Poster</mat-option>
                <mat-option value="apparel">Apparel</mat-option>
            </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field *ngIf="category && category != 'specialty' && category != 'consoles'">
            <mat-label>Console</mat-label>
            <mat-select id="genre" [(ngModel)]="console" name="genre" (ngModelChange)="setConsoleInfo($event)" required>
                <mat-option *ngFor="let option of consoles" [value]="option">{{option}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="category && category == 'consoles'">
            <mat-label>Generation</mat-label>
            <mat-select id="genre" [(ngModel)]="generation" name="genre" (ngModelChange)="setGenerationInfo($event)" required>
                <mat-option *ngFor="let option of generations" [value]="option">{{option}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="category && category != 'specialty'">
            <mat-label>Brand</mat-label>
            <input *ngIf="category" matInput id="brand" [(ngModel)]="brand" type="text" name="brand" disabled required>
            <!-- <mat-select *ngIf="category == 'equipment'" [(ngModel)]="brand" name="brand" required>
                <mat-option *ngFor="let option of brands" [value]="option">{{option}}</mat-option>
            </mat-select> -->
        </mat-form-field>
    </form>
</div>
<div class="buttons" mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button> 
  <button mat-button (click)="addProduct()">Add Product</button>
</div>
