.loginCardContainer{
    display:flex;
    flex-direction: row;
    margin:24px;
    align-items: center;
    justify-content: space-evenly;
}
.loginCard{
    display:flex;
    flex-wrap: wrap;    
    max-width: 75%;
    justify-content: space-evenly;
}

.loginField{
    margin:8px;
}

.login {
    justify-content: center
}

#loginSubmit{
    margin-left: 40%;
    margin-bottom: 16px;
   
}

.loginIcon {
    margin-right: 4px;
    position: relative;
    top: 3.5px;
}

.error{
    color: red;
}